[global_config]
[keybindings]
  split_horiz = <Alt>h
  split_vert = <Alt>v
[profiles]
  [[default]]
    use_system_font = False
    font = Inconsolata Medium 14
    background_color = "#300a24"
    foreground_color = "#ffffff"
[layouts]
  [[default]]
    [[[child1]]]
      profile = default
      type = Terminal
      parent = window0
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
