# terminator config file

maximise = False
force_no_bell = True
titlebars = False
handle_size = 1
font = "Inconsolata 12"
scrollback_lines = '500'
use_theme_colors = False
background_color = "black"
foreground_color = "lightgrey"
cursor_color = "red"
cursor_shape = "block"
cursor_blink = True

[keybindings]
split_horiz = <Alt>h
split_vert = <Alt>v

